input(type="hidden" name="_csrf" value=csrfToken)
label(for="fullName") Full Name:
input(type="text" name="firstName" value=data.firstName)
input(type="text" name="lastName" value=data.lastName)
label(for="email") Email:
input(type="email" name="email" value=data.email)
label(for="age") Age:
input(type="number" name="age" value.data.age)
label(for="password") Create password:
input(type="password" name="password" value=data.password)
label(for="confirmPassword") Confirm password:
input(type="password" name="confirmedPassword" value=data.confirmedPassword)
